h1 {
    font-size: 2em;
    text-align: center;
    padding: 50px;
}

.banner {
    position: relative;
    margin: auto;
    height: 500px;
    width: 800px;
}

    .buttonLeft, .buttonRight{
        position: absolute;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        border: 0px;
        margin-left: 10px;
        margin-top: 220px;
        z-index: 1;
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .buttonRight {
        margin-left: 730px;
    }

    .buttonLeft:hover, .buttonRight:hover {
        background-color: white;
    }

    .arrow {
        height: inherit;
        width: inherit;
    }

    .mainImg {
        position: absolute;
        height: inherit;
        width: inherit;
        border-radius: 50px;
    }